@import "~theme/colors";

.input {
  display: flex;
  flex-direction: column;

  &-label {
    margin-bottom: 8px;

    color: $primary-90;
    text-align: end;
  }

  &-container {
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;

    padding: 8px 8px 8px 16px;

    border: 1px solid $primary-50;

    -webkit-box-shadow: 0px 2px 2px 0px rgba(71, 71, 71, 0.1);
    -moz-box-shadow: 0px 2px 2px 0px rgba(71, 71, 71, 0.1);
    box-shadow: 0px 2px 2px 0px rgba(71, 71, 71, 0.1);

    cursor: text;

    transition: background-color .3s ease-out;

    &:focus-within {
      background-color: $primary-20;

      .input-underline {
        width: 100%;
      }
    }
  }

  &-native {
    width: 100%;
    box-sizing: border-box;

    background-color: inherit;
    outline: none;
    border: none;
  }

  &-underline {
    height: 2px;
    width: 0px;
    box-sizing: border-box;

    background-color: $secondary-20;

    transition: width .3s ease-out;
  }
}
